doctype 5
html
  head
  body
    // #menu
    // #statusbar
    //   span#uri URI goes here
    //   span#history
    //   span#unboundKeypresses
    //   span#passthroughWarning
    //   span#scrolled
    // #prompt
    //   span#input
    //   span#cursor &nbsp
    // // #messages // Alerts, Confirms
