doctype 5
html
  head
    style(type='text/css')
  body
    #menu
    #statusbar
      span#passthroughWarning
      span#uri URI goes here
      span#scrolled
    #prompt
      span#input
      span#cursor &nbsp
    // #messages // Alerts, Confirms